<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div><center>

    <h4>Show user by id</h4>
    <form th:action="@{/admin/show}" th:method="get">
        <input type="text" name="id"/>
        <button type="submit">Show</button>
    </form>
    <br>
    <h2>Users</h2>
    <br>
    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Password</th>


        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">
            <td th:text="${user.username}">
            <td th:text="${user.password}">
            <td>
                <form th:method="get" th:action="@{/admin/edit/{id}(id=${user.getId()})}">
                    <input type="submit" value="Edit"/>
                </form>
            <td>
            <td>
                <form th:method="post" th:action="@{/admin/delete/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>

    <br>
    <input type="button" value="Logout"
           onclick="window.location.href = '/logout'"/>
    <br>
    <input type="button" value="Add"
           onclick="window.location.href = '/admin/users/new'"/>
</center></div>
</body>
</html>