<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div><center>
        <h2>yr welcome</h2>
        <br><br>
        <table class="table">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
            </tr>
            <tr th:object="${user}">
                <td th:text="${user.id}">
                <td th:text="${user.username}">
            </tr>


        </table>
    </center></div>

    <input type="button" value="Logout"
           onclick="window.location.href = '/logout'"/>
</body>
</html>